@model WebApplication1.Models.EditProfilePictureViewModel

@{
    ViewBag.Title = "Edit Profile Picture";
}

<h2>Edit Profile Picture</h2>

@using (Html.BeginForm("EditProfilePicture", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserID)

        <div class="form-group">
            <label class="control-label col-md-2" for="profilePicture">Profile Picture:</label>
            <div class="col-md-10">
                <input type="file" id="profilePicture" name="profilePicture" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Dashboard", "UserDashboard")
</div>
