@{
    ViewBag.Title = "Registration Successful";
}

<h2>Registration Successful!</h2>
<p>Your registration was successful.</p>
<a href="@Url.Action("Login", "Account")" class="btn btn-primary">Login</a>
